body {
  display: flex;
  justify-content: center;
}

section {
  max-width: 32rem;
}

.title {
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-title {
  margin-right: 2rem;
}

.base p {
  margin-bottom: 0.25rem;
}

a.dropdown-item {
  padding: 0.375rem 1rem;
}

.form {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  width: 32rem;
}

.form .item {
  margin: 0.5rem 1rem;
  width: 100%;
}

.form .item input,
.form .item button {
  width: 12rem;
}

.form-area {
  display: flex;
  flex-direction: row;
}

.form-area .item .result {
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-area .item .result button {
  width: 4rem;
}

.form-area .item .result h2 {
  margin-bottom: 0;
}
